@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #151515;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent)
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu {
    display: flex;
    position: relative;
    background-color: #15151548;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 40;
    align-items: center;

}


.dropdown-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}


.dropdown-menu ul li {
    margin-right: 20px;
}

.dropdown-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
}

.dropdown-menu ul li a:hover {
    background-color: #333;
}

.dropdown-toggle::after {
    display: none;
  }


.dropdown-item {
    color: white; 
}
.dropdown-item:hover {
    background-color: gray;
}

header, section {
    max-width: 1300px; 
    margin: 0 auto; 
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
}

header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1 {
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person {
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.mountain2 {
    position: absolute;
    width: 1100px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3 {
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}

.sky {
    position: absolute;
    width: 2100px;
    bottom: 250px;
    right: 0;
}



.logo{
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
}

.logo:link{
    text-decoration: none;
}

.logo:hover{
    color:#fff;
    text-decoration: none;
}

.logo span {
    font-weight: 300;
}




.big-title {
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}

section {
    width: 100%;
    background-color: #151515;
    position: relative;
}


section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section .container2 {
    padding: 3rem;
    max-width: 5000px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



section img {
    width: 100%;
}

section .container > * {
    margin: 2rem;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}


.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity {
    opacity: 0;
}

@media (max-width: 850px) {
    section .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .big-title {
        font-size: 3rem;
    }

    .text {
        font-size: .8rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .dropdown-menu ul li a {
        padding: 0.5rem 1rem;
    }
}

  

.valuesHeading{
    display: inline;
    font-size: 1.3em;
    font-weight: bold;
}

.values{
    display: inline;
}

.cardContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 50px;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #ffffff00;
    border: 2px solid #33333300;
    margin: 20px;
    transition: transform 1s ease, opacity 1s ease;
    z-index: 0;
}

.hiddenOnce{
    opacity: 0;
    transition: all 1s;
}

.hiddenLeftOnce{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
}

.hiddenRightOnce{
    opacity: 0;
    transition: all 1s;
    transform: translateX(100%);
}



.hiddenAll{
    opacity: 0;
    transition: all 1s;
    filter: blur(8px);
}

.hiddenLeftAll{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
}

.hiddenRightAll{
    opacity: 0;
    transition: all 1s;
    transform: translateX(100%);
}

.show{
    filter: blur(0px);
    opacity: 1;
    transform: translateX(0);
}


.card:nth-child(1){
    transition-delay: 600ms;
}

.card:nth-child(2){
    transition-delay: 400ms;
}

.card:nth-child(3){
    transition-delay: 200ms;
}

.card:nth-child(4){
    transition-delay: 200ms;
}

.card:nth-child(5){
    transition-delay: 400ms;
}

.card:nth-child(6){
    transition-delay: 600ms;
}






























